h1 Listing posts

-if can? :create, Post
  = link_to fa_icon(:plus), new_post_path, id: 'new_post_link',
                                           class: 'new-post fa-2x',
                                           remote: true,
                                           'data-target': '#myModal',
                                           'data-toggle': 'modal'
.panel-group#posts
  ==render @posts
